*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#start{
    width: 60px;
    height: 30px;
    background-color: rgb(129, 247, 4);
    border: 2px solid black;
    /* border-radius: 50%; */
}
#stop{
    width: 60px;
    height: 30px;
    background-color: rgb(247, 4, 4);
    border: 2px solid black;
}